.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
}

.banner {
    height: 125px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.banner-text {
    font-size: 3rem;
    font-family: "Titillium Web";
    font-style: italic;
    font-weight: 700;

    padding-left: 20px;
    padding-right: 20px;

    color: var(--secondary-color);
    letter-spacing: 9px;

    text-decoration: none;

    text-shadow: 3px 3px var(--accent-color);

    margin-bottom: 5px;
}
.banner-text:hover {
    text-decoration: none;
}

.nav-bar {
    height: 40px;
    width: 95%;

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: repeating-linear-gradient(
      45deg,
      var(--secondary-color-t) ,
      var(--secondary-color-t) 0px,
      var(--secondary-color) 4px,
      var(--secondary-color) 7px
    ),
    repeating-linear-gradient(
      -45deg,
      var(--secondary-color),
      var(--secondary-color) 8px,
      var(--accent-color) 8px,
      var(--accent-color) 9px
    );

    box-shadow:
        0px 0px 5px 1px rgba(0, 0, 0, 0.2),
        4px 4px var(--accent-color),
        5px 5px 10px 1px rgba(0, 0, 0, 0.5)
    ;

    /*padding-bottom: 10px;*/

    /* box-shadow: 0 0 3px 1px black; */
}

.nav-group {
    width: 350px;
    height: 170%;
    
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.nav-tab {
    height: 100%;
    width: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent-color);

    box-shadow:
        0px 0px 5px 1px rgba(0, 0, 0, 0.4)
    ;
}

.nav-page:hover {
    filter: brightness(85%);
}

.nav-link {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    font-family: "Titillium Web";
    font-style: italic;
    font-weight: 700;

    color: white;
    letter-spacing: 3px;

    text-decoration: none;
    text-shadow: 2px 2px var(--secondary-color);
}
.nav-link:hover {
    color: white;
    text-decoration: none;
}