<div class="upload">
    <h1>
        Upload
    </h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <p>
            <label for="file">File</label>
            <br>
            <input class="file-input" type="file" name="file">
        </p>

        <p>
            <label for="title">Title</label>
            <br>
            <input type="text" name="title">
        </p>
        <p>
            <input aria-label="Submit" type="submit" value="Submit">
        </p>

    </form>
</div>