[Unit]
Description=Gunicorn instance to serve pierogis-live
After=network.target

[Service]
User=pierogis-live
Group=pierogis-live
WorkingDirectory=/home/pierogis-live
Environment="PATH=/home/pierogis-live/venv/bin"
ExecStart=/home/pierogis-live/venv/bin/gunicorn -m 007 'pierogis_live:create_app()' -c /home/pierogis-live/conf/gunicorn.conf.py

[Install]
WantedBy=multi-user.target