---
import type { CollectionEntry } from "astro:content";
import { Card, Shine } from "@pierogis/utensils";

interface Props {
  loaf: CollectionEntry<"loafs">["data"];
}

const { loaf } = Astro.props;
---

<Card border inset>
  <Shine randomLength={{ x: { min: 2, max: 8 }, y: { min: 2, max: 8 } }}>
    <img src={loaf.image[300].src} class="border" />
  </Shine>
  <h4>{loaf.title}</h4>
  <h5>{loaf.subtitle}</h5>
</Card>

<style>
  img {
    border-radius: 16px;
    image-rendering: pixelated;
  }
  h4,
  h5 {
    margin: 0;
  }
</style>
