---
import type { CollectionEntry } from "astro:content";
import { Card, Shine } from "@pierogis/utensils";

interface Props {
  loaf: CollectionEntry<"loafs">["data"];
}

const { loaf } = Astro.props;
---

<Card border inset>
  <Shine
    randomLength={{ x: { min: 2, max: 8 }, y: { min: 2, max: 8 } }}
    borderRadius="16px"
  >
    <img
      src={loaf.image["300x300"].src}
      width={loaf.image["300x300"].width}
      height={loaf.image["300x300"].height}
      class="border"
      alt={loaf.alt}
    />
  </Shine>
  <h1>{loaf.title}</h1>
  <h3>{loaf.subtitle}</h3>
  <span>{loaf.description}</span>
</Card>

<style>
  img {
    border-radius: 16px;
    image-rendering: pixelated;
  }

  h1,
  h3 {
    margin: 0;
  }
</style>
