<div class="content">
    {% if content.media_type.name == 'video' %}
    <div class="content-box">
        <video inline-template class="video" height="200" controls="true">
            <source src="{{ cdn + content.file_path }}" type="{{ content.media_type.name + '/' + content.extension }}">
            Your browser does not support the video tag.
        </video>
    </div>
    {% elif content.media_type.name == 'image' %}
    <div class="content-box">
        <img inline-template class="image" height="200" src="{{ cdn + content.file_path }}">
    </div>
    {% endif %}
</div>