<div class="content-box">
    <a class="content-link" href="{{ project.path }}">
        {% if content.media_type.name == 'video' %}
            <video inline-template class="content" preload="none" controls="true">
                <source src="{{ cdn + content.file_path }}" type="{{ content.media_type.name + '/' + content.extension }}">
                Your browser does not support the video tag.
            </video>
        {% elif content.media_type.name == 'image' %}
            <img inline-template class="content" loading="lazy" src="{{ cdn + content.file_path }}">
        {% endif %}
    </a>
</div>