{% extends "app.html" %}

{% block title %} codename {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('content.static', filename='css/codename.css') }}">
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block page -%}
<div class="codename">
    {% include "partials/breadcrumbs.html" %}
    {% with alternate=True %}
    <div class="projects">
        {% if projects|length > 0 %}
            {% with title="projects" %}
            {% with path=None %}
                {% include "partials/blob.html" %}
            {% endwith %}
            {% endwith %}
            {% for project in projects %}
                {% include "content/partials/project.html" %}
            {% endfor %}
        {% endif %}
    </div>
    {% if contents|length > 0 %}
        {% with title="content" %}
        {% with path=None %}
            {% include "partials/blob.html" %}
        {% endwith %}
        {% endwith %}
        <div class="content-wheel content">
            {% for content in contents %}
                {% include "content/partials/content.html" %}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    {% include "partials/blob.html" %}
</div>
{%- endblock page %}