{% extends "app.html" %}

{% block title %} dungeon {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('trial.static', filename='css/claim.css') }}">
{% endblock %}

{% block page %}
<div class="audience">
    {% include 'trial/partials/pierogi.html' %}
<div class="pierogi-monologue">
    <p>
        What is your name?
    </p>
    <p>
        Never mind i don't care
    </p>
    <p>
        What's your claim?
    </p>
    <form method="post">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
        <input class="dubious" type="text" value="{{ claim if claim != None else '' }}" name="claim">
        <input type="submit">
    </form>
</div>

</div>
{% endblock page %}