---
import Base from "../../layouts/Base.astro";

const description = "this is a place for learning and aspiring";
---

<Base
  canonical={`https://stale.pierogis.live/about`}
  title="about stale"
  description={description}
>
  <span>{description}</span>
</Base>

<style>
  span {
    margin: 0.5em;
  }
</style>
