---
import Base from "../../layouts/Base.astro";
---

<Base pageTitle="about stale">
  <span>this is a place for learning and aspiring</span>
</Base>

<style>
  span {
    margin: 0.5em;
  }
</style>
