<title>
    pierogis live
</title>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div style="text-align: center;">
        <h1>Pierogis LIVE</h1>
    </div>
    <div>
        <a href="/code">code</a>
        <a href="/music">music</a>
    </div>
    <div>
        <p>I am not stealing your data</p>
    </div>
</body>