.content-box {
    height: auto;
    max-height: var(--project-height);
    width: 100%;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

.content-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--content-width);
    margin: auto;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    scroll-snap-align: center;
}

.content {
    outline: none;

    height: auto;
    max-width: var(--content-width);

    background-color: var(--secondary-color);
    border: solid;
    border-width: calc(var(--content-width)/24);
    border-color: var(--accent-color);

    -webkit-animation: initial-shadows-content 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: initial-shadows-content 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content:hover {
    -webkit-animation: shadow-drop-content 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-content 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes initial-shadows-content {
    0% {
        -webkit-box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
            box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
    }
    100% {
        -webkit-box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
            box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
  }
}

@-webkit-keyframes shadow-drop-content {
  0% {
    -webkit-box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
            box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
  }
  100% {
    -webkit-box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
            box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
  }
}

.codename {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}