.content-wheel {
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: none;
    width: 75vw;
    background: linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        );

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:calc((100% - (var(--n) - 1)*var(--g))/var(--n));
    --n: 4;
    --g: 0px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;

    align-items: center;
    justify-items: center;
}

.content-wheel::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1500px) {
    .content-wheel {
        --n: 3;
    }
}

@media screen and (max-width: 1150px) {
    .content-wheel {
        --n: 2;
    }
}

@media screen and (max-width: 750px) {
    .content-wheel {
        --n: 1;
    }
}