.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

@-webkit-keyframes adjust-grid-project {
  0% {

  }
  100% {

  }
}

@media screen and (max-width: 1050px) {
    .projects {
        -webkit-animation: adjust-grid-project 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	            animation: adjust-grid-project 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

	    grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 700px) {
    .projects {
        grid-template-columns: auto;
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5vh;

    --content-width: 240px;
    width: var(--content-width);
}

.content-box {
    height: auto;
    max-width: var(--content-width);
}

.content-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    outline: none;

    height: auto;
    width: 100%;

    border: solid;
    border-width: 10px;
    border-color: var(--accent-color);

    box-shadow:
        5px 5px 0 var(--secondary-color),
        -5px -5px 0 var(--secondary-color)
    ;
}

@media screen and (max-width: 500px) {
  .content {
    border-width: .5rem;
    width: 48vw;
  }
  .project {
    width: 48vw;
  }
}

@-webkit-keyframes shadow-drop-content {
  0% {
    -webkit-box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
            box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
  }
  100% {
    -webkit-box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color),
                0px 0px 10px 2px rgba(0, 0, 0, 0.9)
            ;
            box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color),
                0px 0px 10px 2px rgba(0, 0, 0, 0.9)
            ;
  }
}

.content:hover {
    -webkit-animation: shadow-drop-content 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-content 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.title-link {
    text-decoration: none;
}

.title-blob {
    padding-bottom: .15em;
    padding-left: .5rem;
    padding-right: .5rem;

    border-radius: 50px;

    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent-color);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.title-blob:hover {
    filter: brightness(85%);
}

.title {
    margin: 0px;
    font-size: .8rem;
    color: white;
    letter-spacing: 2px;

    text-shadow: 2px 2px var(--secondary-color);
}