.content-box {
    height: auto;
    max-height: var(--project-height);
    width: 100%;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

.content-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--content-width);
    margin: auto;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    scroll-snap-align: center;
}

.content {
    outline: none;

    height: auto;
    max-width: var(--content-width);

    background-color: var(--secondary-color);
    border: solid;
    border-width: calc(var(--content-width)/24);
    border-color: var(--accent-color);

    -webkit-animation: initial-shadows-content 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: initial-shadows-content 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content:hover {
    -webkit-animation: shadow-drop-content 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-content 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes initial-shadows-content {
    0% {
        -webkit-box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
            box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
    }
    100% {
        -webkit-box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
            box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
  }
}

@-webkit-keyframes shadow-drop-content {
  0% {
    -webkit-box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
            box-shadow:
                5px 5px 0 var(--secondary-color),
                -5px -5px 0 var(--secondary-color)
            ;
  }
  100% {
    -webkit-box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
            box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.6)
            ;
  }
}

.title-link {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.title-link:focus {
    outline: none;
}

.title-link:focus .title-blob {
    -webkit-box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
            box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
    filter: brightness(120%);
}

.title-blob {
    padding-top: .1em;
    padding-bottom: .2em;
    padding-left: .6rem;
    padding-right: .6rem;

    border-radius: 50px;

    margin-top: 2vh;
    margin-bottom: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent-color);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);

    transition: 0.2s;
}

.title-blob:hover {
    -webkit-box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
            box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
    filter: brightness(90%);
}

.title-blob:focus {

}

.title {
    margin: 0px;

    color: white;

    font-size: .8rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1em;

    text-shadow: .1rem .1rem 2px var(--text-color-st);
}

.title:hover {
    text-shadow: .1rem .1rem 0px var(--text-color);
}

.codename {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wheel {
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: none;
    width: 75vw;
    background: linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        );

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:calc((100% - (var(--n) - 1)*var(--g))/var(--n));
    --n: 4;
    --g: 0px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;

    align-items: center;
    justify-items: center;
}

.content-wheel::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1500px) {
    .content-wheel {
        --n: 3;
    }
}

@media screen and (max-width: 1150px) {
    .content-wheel {
        --n: 2;
    }
}

@media screen and (max-width: 750px) {
    .content-wheel {
        --n: 1;
    }
}