<head>
    <style>
        .nav-group {
            grid-template-columns: {{ ' '.join(['1fr'] * tabs|count) }};
        }
    </style>
</head>

<div class="header">
    <div class="banner">
        <a class="banner-text" href="{{ url_for('base.index') }}">
            pierogis-live
        </a>
        <form action="{{ url_for('trial.input_claim') }}" method="get">
            <input class="dubious" type="text" value="{{ claim }}" name="claim">
        </form>
    </div>
    <div class="nav-bar">
        <nav class="nav-group">
            {% for tab in tabs %}
            {% with path = tab.path %}
            {% with text = tab.name %}
                {% include "partials/blob.html" %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </nav>
    </div>
    <div class="nav-buffer">

    </div>
</div>

