<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>

<div class="header">
    <div class="banner">
        <a class="banner-text" href="{{ url_for('base.index') }}">
            pierogis-live
        </a>
        <span>
            a general chaos platform
        </span>
    </div>
    <div class="nav-bar">
        <nav class="nav-group">
            <div class="nav-tab">
                <a class="nav-link" href="{{ url_for('base.index') }}">

                    /
                </a>
            </div>
            <div class="nav-tab">
                <a class="nav-link" href="{{ url_for('code.index') }}">
                    /code
                </a>
            </div>
            <div class="nav-tab">
                <a class="nav-link" href="{{ url_for('music.index') }}">
                    /music
                </a>
            </div>
            <div class="nav-tab">
                <a class="nav-link" href="{{ url_for('art.index') }}">
                    /art
                </a>
            </div>
        </nav>
    </div>
</div>

