<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">

    <style>
        .nav-group {
            grid-template-columns: {{ ' '.join(['1fr'] * tabs|count) }};
        }

    </style>
</head>

<div class="header">
    <div class="banner">
        <a class="banner-text" href="{{ url_for('base.index') }}">
            pierogis-live
        </a>
        <div class="byline" contenteditable="true">a general chaos platform</div>
    </div>
    <div class="nav-bar">
        <nav class="nav-group">
            {% for tab in tabs %}
            <a class="nav-link" href="{{ tab.path }}">
                <div class="nav-blob">
                    <span class="nav-text">
                        {{ tab.name }}
                    </span>
                </div>
            </a>
            {% endfor %}
        </nav>
    </div>
    <div class="nav-buffer">

    </div>
</div>

