.blob-link {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.blob-link:focus {
    outline: none;
}

.blob-link:focus .title-blob {
    -webkit-box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
            box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
    filter: brightness(120%);
}

.blob {
    padding-top: .1em;
    padding-bottom: .2em;
    padding-left: .6rem;
    padding-right: .6rem;

    border-radius: 50px;

    margin-top: 2vh;
    margin-bottom: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent-color);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);

    transition: 0.2s;
}

.blob:hover {
    -webkit-box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
            box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
    filter: brightness(90%);
}

.blob:focus {

}

.blob-text {
    margin: 0px;

    color: white;

    font-size: .8rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1em;

    text-shadow: .1rem .1rem 2px var(--text-color-st);
}

.blob-text:hover {
    text-shadow: .1rem .1rem 0px var(--text-color);
}

.alternate {
    background-color: var(--secondary-color);
}