@use '_dubious';

.header {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
}

.banner-text {
    font-size: 2.5rem;
    font-family: "Titillium Web";
    font-style: italic;
    font-weight: 700;

    color: var(--secondary-color);
    letter-spacing: .35rem;

    text-decoration: none;

    text-shadow: .15rem .15rem var(--accent-color);

    margin-bottom: 5px;

    -webkit-transition: .5s;
    transition: .5s;

    transition-timing-function: ease-out;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.banner-text:hover {
    text-decoration: none;

    text-shadow: .15rem .15rem 2px var(--text-color);
}

.nav-bar {
    width: 95vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: repeating-linear-gradient(
      45deg,
      var(--secondary-color-t) ,
      var(--secondary-color-t) 0px,
      var(--secondary-color) 4px,
      var(--secondary-color) 7px
    ),
    repeating-linear-gradient(
      -45deg,
      var(--secondary-color),
      var(--secondary-color) 8px,
      var(--accent-color) 8px,
      var(--accent-color) 9px
    );

    -webkit-box-shadow:
        0px 0px 5px 0px rgba(0, 0, 0, 0.2),
        4px 4px var(--accent-color),
        5px 5px 10px 0px rgba(0, 0, 0, 0.5)

    ;

    box-shadow:
        0px 0px 5px 0px rgba(0, 0, 0, 0.2),
        4px 4px var(--accent-color),
        5px 5px 10px 0px rgba(0, 0, 0, 0.5)

    ;

    transition: .3s;
    transition-timing-function: ease-out;
}

.nav-bar:hover {
     -webkit-box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.2),
                0px 0px var(--accent-color-t),
                3px 3px 7px 0px rgba(0, 0, 0, 0.5)
            ;
            box-shadow:
                0px 0px 5px 0px rgba(0, 0, 0, 0.2),
                0px 0px var(--accent-color-t),
                3px 3px 7px 0px rgba(0, 0, 0, 0.5)
            ;
}

.nav-group {
    display: grid;
    grid-gap: 5%;
}

.nav-link {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.nav-blob {
    border-radius: 100px;
    padding-bottom: .15rem;
    padding-left: .5rem;
    padding-right: .5rem;

    background-color: var(--accent-color);

    -webkit-box-shadow:
                0px 0px 3px 0px rgba(0, 0, 0, 0.2)
            ;
            box-shadow:
                0px 0px 3px 0px rgba(0, 0, 0, 0.2)
            ;

    text-align: center;
    transition: .2s;
}

.nav-blob:hover {
    -webkit-box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
            box-shadow:
                2px 2px 3px 0px rgba(0, 0, 0, 0.5)
            ;
    filter: brightness(90%);
}

.nav-link:focus {
    outline: none;
}

.nav-link:focus .nav-blob {
    -webkit-box-shadow:
            2px 2px 3px 0px rgba(0, 0, 0, 0.5)
        ;
        box-shadow:
            2px 2px 3px 0px rgba(0, 0, 0, 0.5)
        ;
    filter: brightness(120%);
}

.nav-text {
    height: 100%;
    width: 100%;

    font-size: 1.2rem;
    font-family: "Titillium Web";
    font-style: italic;
    font-weight: 700;

    color: white;
    letter-spacing: .3em;

    text-shadow: .1rem .1rem 2px var(--text-color-st);

    transition: .5s;
}
.nav-text:hover {
    text-shadow: .1rem .1rem 0px var(--text-color);
}

.nav-buffer {
    height: 1vh;
}